body {
  margin: 0;
  background-color: #353b48;
}

.Header {
  background-color: #1b202c;
  color: whitesmoke;
  font-size: 60px;
  margin-bottom: 30px;
  height: 100px;
  align-content: center;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
